ns-3-dev/sim_results/*
ojcoms_results/*
ns-3-dev/*.csv
ns-3-dev/*.png
ns-3-dev/*.out
*.csv
*.png
*.out
*.cfg
*.pyc
ppo_logs/
venv/
lib/
lib64/
bin/
__pycache__/
ns-3-dev/nr-rem-scheduler-buildings.txt
ns-3-dev/nr-rem-scheduler-gnbs.txt
ns-3-dev/nr-rem-scheduler-ues.txt
ns-3-dev/position.txt
ns-3-dev/queue_g.txt
ns-3-dev/queue_q.txt
ns-3-dev/sinr_log.txt