ns-3-dev/sim_results/*
ojcoms_results/*
ns-3-dev/*.txt
ns-3-dev/*.csv
ns-3-dev/*.png
ns-3-dev/*.out
*.txt
*.csv
*.png
*.out
*.cfg
ppo_logs/
venv/
lib/
lib64/
bin/
*.out
__pycache__/
*.pyc
learning_curve*
best_models/
models/
logs/
latency_log.csv
ns-3-dev/client_timestamps.csv
server_logs_time.py
saved_models/
nohup.out